@use './partials/variables.scss' as *;


body {
    font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
    background-color: $dark-color;
    color: $light-color;
}

div.card-container {
    height: 300px;
}

div.flag-img {
    width: 30px;
}

div.film-info,
div.serie-info {
    position: relative;
    transition: 1s ease;
    overflow: scroll;
}

div.hover {
    font-size: .8rem;
    padding: 1rem .7rem .7rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    z-index: 1;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, .8) 29%, rgba(0, 0, 0, .3) 60%);
}

div.film-info:hover .hover,
div.serie-info:hover .hover {
    opacity: 1;
    transform: scale(1.1);
}

div.film-info:hover,
div.serie-info:hover {
    transform: scale(1.1);
    z-index: 1;
}

.fa-star {
    color: $star-color;
}